version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:1-20-bullseye
    volumes:
      - ../:/workspaces/doggy-nav:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Connect to the same network as the database
    networks:
      - doggy-nav-dev

    # Environment variables
    environment:
      # This connects to the 'mongodb' service defined below
      MONGO_URL: mongodb:27017
      NODE_ENV: development

  mongodb:
    image: mongo:7.0-jammy
    restart: unless-stopped
    volumes:
      - mongodb-data:/data/db
    networks:
      - doggy-nav-dev

networks:
  doggy-nav-dev:

volumes:
  mongodb-data:
